html {
    font-size: 18px;
}
body {
    background-color: darkblue;
}
.container {
    background-color: white;
    padding: 3rem;
    width: 80%;
}

.tasks {
    font-family: Arial, Helvetica, sans-serif;
}

.tasks .tasks_header {
    display: flex;
    background-color: lightblue;
    font-weight: bold;
}

.tasks .tasks_row {
    display: flex;
}

.tasks .col_description {
    width: 20%;
}

.tasks .col_priority {
    width: 5%;
}